@import url('https://fonts.cdnfonts.com/css/bebas-neue');
@import url('https://fonts.cdnfonts.com/css/cloud-2');
@import url('https://fonts.cdnfonts.com/css/gotham');

.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #EBEBEB;
}
.login-container .card{
  padding: 25px 40px;
}
.login-container input{
  height: 50px;
}
.login-container button{
  background-color: #373737;
  border: 1px solid #373737;
  border-radius: 20px;
  width: 100%;
  padding: 10px 25px;
  color: white;
  font-weight: 400;
}
.login-container button:hover{
  background-color: #202020;

}
a:hover {
  text-decoration: none;
}


ul {
  list-style-type: none;
  color: white;
}

.wrapper {
  display: flex;
  width: 100%;
}

.sidebar {
  min-height: 100vh;
  width: 220px;
  background-color: #6479FF;
  padding: 30px 10px;
}

.sidebar hr {
  border-top: 1px solid rgba(255, 255, 255, 0.753);
  margin-bottom: 1.25rem;
}

.sidebar li {
  color: white;
  font-family: 'Cloud', sans-serif;
  letter-spacing: 1px;
  font-size: 16px;
  margin-top: 20px;
  padding: 5px 10px;
  border: 1px solid transparent;

}

.sidebar li:hover {
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  color: #6479FF;
}
.sidebar .collapse-child{
  color:white;
  border-radius: 5px;
  border: 1px solid transparent;

}
.sidebar .collapse-child:hover {
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
}
.sidebar .collapse-child:hover h5 {
  color: #6479FF;

}
.content {
  padding: 30px 30px;
}

.tableProduk {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  border-collapse: collapse;
}

.tableProduk th {
  padding: 0.75rem;
  vertical-align: middle;
  border-bottom: 1px solid #c8c9d5;
}

.tableProduk td {
  padding: 1.25rem 0.75rem;
  vertical-align: middle;
}

.tableProduk thead th {
  /* box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); */
}

.tableProduk tbody td {
  border-bottom: 1px solid rgb(205, 205, 205);
}

.tableProduk th {
  color: rgb(86, 86, 86);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;

}

.tableProduk td {
  color: rgb(86, 86, 86);
  font-family: 'Gotham', sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.tableProduk .table-status {
  border-radius: 12px;
}

.tableProduk tr:nth-child(even) {
  background-color: #fafffe8e;
}

.tableProduk tbody tr:hover {
  background-color: #ececec;
}

.alert-product {
  padding: 15px 20px;
}

.alert-product:hover {
  cursor: pointer;
  background-color: #FFEFBD;
}

.img-hover:hover {
  opacity: 0.3;
}

#image-viewer {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0.9);
}

#image-viewer .nav-top {
  position:sticky;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 5px 40px;
  background-color: rgb(255, 255, 255);
  opacity: 0.9;
}

#image-viewer .modal-content {
  margin: 40px auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#image-viewer .close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 30px;
  font-weight: bold;
  opacity: 1;
  transition: 0.3s;
}
#image-viewer .close:hover,
#image-viewer .close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#image-viewer .download {
  position: absolute;
  top: 11px;
  right: 75px;
  color: #f1f1f1;
  font-size: 25px;
  font-weight: bold;
  opacity: 1;
  transition: 0.3s;
}
#image-viewer .download:hover,
#image-viewer .download:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
#detailPembayaranModal hr{
  margin-top : 0.5rem;
  margin-bottom: 0.5rem;
}
#detailComplainModal hr{
  margin-top : 0.5rem;
  margin-bottom: 0.5rem;
}
.gotham{
  font-family: 'Jost', sans-serif;
  font-weight: 500;
}
#buktiPembayaran:hover{
  opacity: 0.8;
  cursor: pointer;
}
#fotoLaporan:hover{
  opacity: 0.8;
  cursor: pointer;
}

/* .daftar_produk button:hover{
  background-color: #CDE5FF;
  border : 1px solid #007BFF;
  color : #007BFF;
} */