@import url('https://fonts.googleapis.com/css?family=Roboto');


.element-top {
    margin-right: 15px;
    margin-left: 15px;

}

.navbar .container .element-top a {
    text-decoration: none;
    color: #FFF6EC;
    font-family: 'Roboto', sans-serif;

}

a {
    text-decoration: none !important;
    color: black;
}

.navbar .container .element-top a:hover {
    color: #675D50;
    text-decoration: none;
    cursor: pointer;
}

.vl {
    border-left: 2px solid #ffffff;
    height: 25px;
}

.header_mid {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

h6.card-title {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}
.other-preview:hover {
  cursor: pointer;
  border: 1px solid rgb(80, 80, 216);

}
.container ul li {
    list-style-type: none
}

.list-group-item.active {
    background-color: #A9907E;
    
    border-color: white;
}

.list-group-item:hover {
    background-color: #b8815d;
    border-color: white;
    cursor: pointer;
}

.list-group-item:hover i,
.list-group-item:hover h6,
.list-group-item:hover small {
    color: #ffffff;
}
button.btn-transaction{
    color: #6d400ff7;
    background-color:white;
    border: 2px solid #6d400ff7;
    border-radius: 10px;
  
  }
  button.btn-transaction:hover{
    color: white;
    background-color:#6d400ff7;
    border: 2px solid #6d400ff7;
    opacity: 0.7;
  }
  button.btn-transaction.active{
    color: white;
    background-color:#6d400ff7;
    border: 2px solid #6d400ff7;
    opacity: 0.7;
  
  }
  h5.transaction{
    font-family: 'Cloud', sans-serif;
    font-weight: 500;
    font-size : 15px;
    letter-spacing: 2px;
  }
  h5.text-title{
    font-family: 'Roboto', sans-serif;
    font-size : 22px;
    margin-bottom: 0px;
    
  }
  .pengajuan_ongkir h5, #pembayaranModal h5{
    font-family: 'Cloud', sans-serif;
    font-weight: 500;
    font-size : 15px;
    letter-spacing: 1px;
  }
  .pengajuan_ongkir h5 span, #pembayaranModal h5 span{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size : 13px;
  }
  .collapse.pengajuan_ongkir td{
    font-family: 'Cloud', sans-serif;
    font-weight: 500;
    font-size : 15px;
    letter-spacing: 1px;
  }
  .collapse.pengajuan_ongkir thead td{
    font-family: 'Cloud', sans-serif;
    font-weight: 600;
    font-size : 15px;
    letter-spacing: 1px;
  }
  img.default_store_logo{
    border-radius: 50%;
    border: 1px solid rgb(177, 177, 177);
    width: 100px;
    height: 100px;
  }